<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MultipleSuite">

	<parameter name="deviceType" value="Android"/>
	<parameter name="deviceName" value="Google Pixel 5"/>
	<parameter name="udid" value="ae1953cf"/>
	<parameter name="appActivity" value="io.appium.android.apis.ApiDemos"/>
	<parameter name="appPackage" value="io.appium.android.apis"/>
	<parameter name="apkName" value="Api-debug.apk"/>
	<parameter name="apkPath" value="bs://522daa7451f0fdebeeec34c3a82b4d8801f730f5"/>
	<parameter name="userName" value="trishnamungoli_LG8xR3"/>
	<parameter name="password" value="sXp2qB3y5SpmsKUDhefj"/>

	<!-- ============================================== ecommerce ============================================================= -->


	<test name="Test1">
		<classes>
			<class
					name="MobileUiTest.AppTest"/>
		</classes>
	</test>


</suite>